/* p {
  color:red;
  font-size:25px;
  font-weight:bold;
} */

p, h1, h2 {
  color:blue;
}

body {
  background:yellow;
}

div p {
  color:red;
}

#first-para {
  color:red;
}

.first-class {
  font-weight:bold;
  color:purple;
}